/* GLOBAL STYLES */

* {
    font-family: "Nunito", sans-serif;
    line-height: 1.5;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background-color: #eef1f3;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

input {
  padding-left: 5px;
}

button, a {
  cursor: pointer;
}
