#account-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: 100vh;
    margin: 70px 0 40px 0;
}

#account-information {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: auto;
    margin-top: 20px;
    padding: 1% 2% 2% 2%;


    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
}