body {
    height: 100vh;
    justify-content: center;
}

#authentication-page {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    align-items: center;
    justify-content: center;
}

#login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
}

#signup-div {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 32%;
}

#login-div {
    border-radius: 20px;
    padding: 26px;
    height: auto;
    background-color: white;
    box-shadow: var(--shadow);
}

#login-div .auth-type-title {
    display: inherit;
    align-self: flex-start;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 16px;
}

.icon-input-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.icon-div {
    display: inherit;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: rgb(232, 232, 255);
    border: 1px solid rgba(134, 134, 134, 0.377);
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.icon-div i {
    color: rgb(73, 73, 73);
}

#authentication-page input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    padding-left: 10px;
}

#login-div input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgba(128, 128, 128, 0.377);
}

#authentication-page hr {
    border: 1px solid rgba(0, 0, 0, 0.089);
    width: 100%;
    border-radius: 2px;
    margin: 20px 0 12px 0;
}

.authentication-link {
    cursor: pointer;
    color: var(--webColor1);
}

#signup-div {
    border-radius: 20px;
    padding: 26px;
    height: auto;
    background-color: white;
    box-shadow: var(--shadow);
}

#signup-div .auth-type-title {
    display: inherit;
    align-self: flex-start;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 16px;
}

#signup-div input {
    margin-bottom: 10px;
}

#term-and-condition-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

#term-and-condition-div #checkbox {
    display: inline;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 1px;
    margin-right: 6px;
}

#term-and-condition-div #terms-and-conditions {
    display: inline;
    width: auto;
}


#signup-div hr {
    margin: 10px 0;
}

/* --- Modal Styles --- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px 30px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    font-family: 'Nunito', sans-serif;
}

.modal-content h2 {
    margin-top: 0;
}

.close-btn {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
