#authentication-page {
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: row;
    padding: 0 10%;
    align-items: center;
    justify-content: center;
}

#login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: auto;
}

#signup-div {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 32%;
    height: auto;
}

#intro-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 50%;
    min-width: 600px;
    padding: 38px 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--shadow);
}

#intro-div img {
    width: 80px;
    height: 80px;
    margin-right: 4px;
    border-radius: 15px;
}

#intro-div p {
    font-size: 24px;
    width: 480px;
    color: var(--black);
    overflow: hidden;
    text-overflow: ellipsis;
}

#login-div {
    border-radius: 20px;
    padding: 26px;
    height: auto;
    background-color: white;
    box-shadow: var(--shadow);
    margin-right: 30px;
}

#login-div .auth-type-title {
    display: inherit;
    align-self: flex-start;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 16px;
}

.icon-input-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.icon-div {
    display: inherit;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: rgb(232, 232, 255);
    border: 1px solid rgba(134, 134, 134, 0.377);
    border-right: none;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.icon-div i {
    color: rgb(73, 73, 73);
}

#authentication-page input {
    width: 100%;
    height: 40px;
    border-radius: 6px;
    border: 1px solid rgba(128, 128, 128, 0.377);
    padding-left: 10px;
}

#login-div input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 1px solid rgba(128, 128, 128, 0.377);
}

#authentication-page hr {
    border: 1px solid rgba(0, 0, 0, 0.089);
    width: 100%;
    border-radius: 2px;
    margin: 20px 0 12px 0;
}

.authentication-link {
    cursor: pointer;
    color: var(--webColor1);
}

#signup-div {
    border-radius: 20px;
    padding: 26px;
    height: auto;
    background-color: white;
    box-shadow: var(--shadow);
    margin-left: 30px;
}

#signup-div .auth-type-title {
    display: inherit;
    align-self: flex-start;
    font-size: 18px;
    color: var(--black);
    margin-bottom: 16px;
}

#signup-div input {
    margin-bottom: 10px;
}

#term-and-condition-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
}

#term-and-condition-div #checkbox {
    display: inline;
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
    margin-bottom: 1px;
    margin-right: 6px;
}

#term-and-condition-div #terms-and-conditions {
    display: inline;
    width: auto;
}