button {
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

.btn-style-1 {
    padding: 2px 0;
    width: 100px;
    border: 2px solid transparent;
    background-color: var(--webColor1);
    color: white;
    border-radius: 4px;
}

.btn-style-1:hover {
    opacity: 0.8;
}

.btn-style-2 {
    padding: 2px 0;
    width: 100px;
    border: 2px solid #00087794;
    background-color: white;
    color: #00087794;
    border-radius: 4px;
}

.btn-style-2:hover {
    border: 2px solid var(--webColor1);
    background-color: white;
    color: var(--webColor1);
}

/* AUTHENTICATION PAGE */

.authN-btn {
    border: none;
    height: 34px;
    padding: 0px 16px;
    font-size: 14px;
    color: white;
    background-color: var(--webColor1);
    border-radius: 6px;
    text-transform: uppercase;
}

#signup-div .authN-btn {
    margin-top: 10px;
}

/* PROFESSOR SECTION */

#edit-btn {
    align-self: flex-end;
    margin-top: 10px;
}

/* PROFCARD CONTAINER */

.btn-style1 {
    height: 100%;
    padding: 0px 14px;
    text-wrap: nowrap;
    font-weight: bold;
    background-color: var(--webColor1);
    color: white;
    border-radius: 8px;
    border: none;
}

#filter-btn {
    margin-left: 10px;
    width: 120px;
    height: 80%;
    justify-content: end;
    border-radius: 25px;
}

/* PROF INFORMATION PAGE */

#info-section-close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    border-radius: 25%;
    aspect-ratio: 1/1;
    border: 2px solid gray;
    opacity: 0.2;
    background-color: transparent;
    margin-top: 4px;
}

#info-section-close-btn:hover {
    opacity: 1;
    background-color: rgb(255, 134, 134);
    color: white;
    border: none;
}

