:root {
  --background: #e9eefc;
  --webColor1: #000877;
  --available: #28a745;
  --in-a-meeting: #fd7e14;
  --in-class: #007bff;
  --away: #ffc107;
  --busy: #dc3545;
  --not-set: #36454F;
  --off-duty: #36454fb0;
  --black: rgb(35, 35, 35);
  --shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

* {
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-optical-sizing: auto;
    padding: 0;
    margin: 0;
    transition: all .15s;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: space-between;
  background-color: var(--background);
}

p, ul li {
  cursor: default;
}

p {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

input, textarea, select {
  font: inherit;
}

input {
  padding-left: 5px;
}

input:active {
  outline: none;
}

a {
  cursor: pointer;
}

select {
  padding-left: 10px;
}

/* SINGLE STYLE */

.bold {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}