/* HTML FILE */

#info-page {
    display: none; 
    flex-direction: column;
    border-radius: 20px;
    background-color: white;
    box-shadow: var(--shadow);
    font-size: 16px;
    height: auto;
    padding: 1% 2% 2% 2%;
}

#info-section-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px 0px 20px;
    padding: 0;
}

#info-section-title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 6px;
    margin-left: 6px;
}

/* JS HTML GENERATE */

.info-section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.info-section-display-pic {
    align-self: center;
    border: none;
    background-color: white;
    width: 40%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.info-section-name {
    margin-top: 10px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.info-section-status {
    text-align: center;
    margin-top: -4px;
    font-weight: 600;
    color: var(--available);
    font-weight: bold;
}

.x-div {
    display: flex;
    flex-direction: row;
    height: auto;
    align-items: center;
}

.cons-details-title {
    margin-top: 10px;
}


.office-hours-div {
    align-items: flex-start;
}

.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

.fontawesome-icon {
    color: rgb(68, 68, 68);
    font-size: 18px;
}

.day-time-div {
    display: flex;
    flex-direction: column;
    width: auto;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 8px;
    padding: 4px 0px;
    margin: 6px 0;
}

.day-time {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    height: 100%;
    padding: 0px 10px;
}

.day-time .day {
    display: inherit;
    flex-direction: row;
    font-weight: bold;
    flex: 1;
}

.day-time .time {
    display: inherit;
    margin-left: 10px;
    width: 80px;
    justify-content: end;
}

.day-time .to {
    margin: 0 8px;
}

.day-time .time-until {
    width: 80px;
}