body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: space-between;
}

#student-section {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 6% 30px 6%;
    column-gap: 2%;
}

#prof-card-container {
    height: auto;
    min-width: 50%;
    flex: 2;
    max-width: 84%;
    display: flex;
    flex-direction: column;
}


#info-page {
    display: none;
    min-width: 400px;
    flex: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 40px;
    min-height: 40px;
}