/* HEADER */
header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: var(--webColor1);
    color: white;
    padding: 0 2%;
    font-size: 15px;
    z-index: 1000;  
}

#header-left-div, #header-middle-div, #header-right-div {
    display: inherit;
    flex-direction: row;
    align-items: center;
    height: inherit;
}

#header-left-div {
    flex: 1;
    justify-content: start;
}

#header-left-div img {
    width: 50px;
    height: 50px;
}

#title {
    font-size: 22px;
    font-weight: bold;
    margin-left: 8px;
    text-wrap: nowrap;
}

#header-middle-div {
    flex: 2;
    justify-content: center;
    font-weight: bold;
}   

#header-right-div {
    font-weight: bold;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}

#user-info-div {
    display: inherit;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-right: 2px solid rgba(255, 255, 255, 0.384);
    padding-right: 10px;
}

#user-name {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: -2px;
    cursor: pointer;
}

#user-type {
    margin-top: -2px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
}

#profile-img-btn {
    width: 34px;
    height: 34px;
    border-radius: 17px;
    margin-left: 10px;
    cursor: pointer;
    border: none;
}

#profile-img-btn img {
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

/* DROPDOWN MENU */

#dropdown-menu {
    width: 140px;
    height: auto;
    border: none;

    display: none;
    flex-direction: column;
    position: fixed;
    margin: 80px 30px 0 0;
    right: 0;
    
    background-color: white;
    border-radius: 8px;
}

.dropdown-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: rgb(228, 228, 228);
}

#logout-btn:hover {
    border-radius: 8px;
}

.dropdown-icon-container {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}

.dropdown-option-label {
    cursor: pointer;
}

/* MAIN WEB */

#student-section {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 100px 6% 30px 6%;
    column-gap: 2%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-height: 40px;
    min-height: 40px;
    color: white;
    background-color: var(--webColor1);
}