#prof-sec {
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding: 2% 2% 6% 2%;
    row-gap: 20px;
}

#prof-name-greeting {
    width: 100%;
}

#prof-name-greeting p, #prof-name-greeting span {
    font-size: 24px;
}

#prof {
    margin-top: -8px;
}

#prof-sec-consultation-hours-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 12px;
    border: 2px solid rgb(177, 177, 177);
    border-radius: 8px;
}

.day-time-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.day {
    font-weight: 700;
}

.hyphen {
    margin: 0 4px;
}

.from-time, .to-time {
    width: 90px; 
}

.from-time {
    text-align: end;
}

/* EDITING DIV */

#prof-sec-edit {
    justify-content: flex-start;
}

#set-status-container, #add-location-container {
    display: inherit;
    justify-content: flex-start;
    height: auto;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 4px;
}

#building-options {
    margin-right: 10px;
}

#status-options {
    padding: 0 8px;
    margin-left: 6px;
}

.consultation-hours-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
    
}

.consultation-hours-table th,
.consultation-hours-table td {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px 12px;
    text-align: left;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.consultation-hours-table th, .class-schedule-table th {
    background-color: #f8f9fa;
    font-weight: bold;
    text-align: center;
}

/* Use a class for the time cell for better readability */
.time-cell {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

/* SCHEDULE TABLE */
.class-schedule-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 14px;
}


.class-schedule-table th,
.class-schedule-table td {
    border: 1px solid rgba(128, 128, 128, 0.5);
    padding: 8px 12px;    
    vertical-align: middle;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}

.class-schedule-table td {
    text-align: left;
}

.schedule-input {
    width: 100%; 
    box-sizing: border-box; /* Include padding and border in the element's total width */
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#prof-sec-edit-btn-container {
    display: flex;
    justify-content: end;
    margin-top: 10px;
}

#room-options {
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.time-input {
    flex: 1;
    max-width: 46%;
    margin: 0;
}

.seperator {
    width: 6%;
    border: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Style for rows marked for deletion */
.marked-for-deletion {
    opacity: 0.6;
    background-color: #fff5f5;
}

.marked-for-deletion td {
    text-decoration: line-through;
    text-decoration-color: #000000;
}
