#dropdown-menu {
    width: 140px;
    height: auto;
    border: none;

    display: none;
    flex-direction: column;
    position: fixed;
    margin: 80px 30px 0 0;
    right: 0;
    
    background-color: white;
    border-radius: 8px;
}

.dropdown-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 30px;
    cursor: pointer;
}

.dropdown-option:hover {
    background-color: rgb(228, 228, 228);
}

#logout-btn:hover {
    border-radius: 8px;
}

.dropdown-icon-container {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
}

.dropdown-option-label {
    cursor: pointer;
}